# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Database
instance/
*.db
*.sqlite3

# Archives and Uploads
archives/*
!archives/.gitkeep
static/uploads/*
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Local secrets
.env
